@CHARSET "UTF-8";
.network-links-container{
	padding:5px 10px;
	display:block;
}
.network-box{	
	background-repeat:no-repeat;	
	display:block;
	width:32px;
	height:32px;	
	margin-top:2px;
	float:left;
}